{% extends "includes/header.html" %}
{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    <body>
    <div id="carousel-example-generic" class="carousel header" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="height: 8cm">
            <div class="item active" style="margin-top: -0.9cm">
                <img class="img-responsive" src="{% static "img/1920x1080/01.jpg" %}" width="100" height="50"
                     alt="Header-image-activities">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-10" style="margin-top: -3cm">
                            <h1 class="carousel-title" style="font-size: xx-large">Certificates</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-section overflow-h">
        <div class="container">
            <div class="clearfix">
                <div class="ver-center">
                    <div class="ver-center-aligned">
                        <div class="promo-section-col">
                            <h2>Our certificates</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut
                                laboret
                                dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur
                                adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim
                                veniam
                                exercitation</p>
                            <p>Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret
                                dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur
                                adipiscing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="promo-section-img-right">#}
{#            <img src="{% static "" %}" alt="Content Image">#}
{#        </div>#}
    </div>
    {% include "includes/footer.html" %}
    </body>
    </html>
{% endblock %}