{% extends "includes/header.html" %}
{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    <body>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="background-color: black">
            <div class="item active" style="margin-top: 2.5cm;margin-right: 0;margin-left: 0">
                <img class="img-responsive" src="{% static "img/Header4Mono.png" %}" width="400" height="250"
                     alt="Slider Image" style="background-color: black">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40" style="font-size: xxx-large;margin-top: 2.5cm">
                            <h1 class="carousel-title">BARSAM</h1>
                            <p style="font-size: xxx-large;color: gold">Global Systems</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="margin-top: 2.5cm;margin-right: 0;margin-left: 0">
                <img class="" src="{% static "img/Header2Mono.png" %}" width="400" height="250"
                    alt="Slider Image" style="background-color: black">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40" style="font-size: xxx-large;margin-top: 2.5cm">
                            <h2 class="carousel-title">BARSAM</h2>
                            <p style="font-size: xxx-large;color: gold">Global Systems</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="margin-top: 2.5cm;margin-right: 0;margin-left: 0">
                <img class="" src="{% static "img/Header6Mono.png" %}" width="400" height="250"
                    alt="Slider Image" style="background-color: black">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40" style="font-size: xxx-large;margin-top: 2.5cm">
                            <h2 class="carousel-title">BARSAM</h2>
                            <p style="font-size: xxx-large;color: gold">Global Systems</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <h3>Activities:</h3>
            <br>
            <div class="row row-space-1 margin-b-2">
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class=""></i>
                            </div>
                            <div class="">
                                <h3>SCADA and automation</h3>
                                <p class="margin-b-5 service-info"
                                   style="-webkit-align-items: center">
                                    <br>
                                    <br>
                                    is a category of software applications for controlling industrial processes</p>
                                <img class="service-info" src="{% static "img/Scada.jpg" %}"
                                     style="align-content: initial;padding-top: 1cm;margin-top: 1.5cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:Skada" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="viewsitelink"></i>
                            </div>
                            <div class="">
                                <h3>Telecommunication and Data Transmission Solutions</h3>
                                <p class="margin-b-5 service-info">Is the digital transfer of data between two points,
                                    in
                                    other words data is sent from sender to a receiver</p>
                                <img class="service-info" src="{% static "img/Telecommunication.jpg" %}"
                                     style="align-content: initial;padding-top: 1cm; margin-top: 0.5cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:TeleCom" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="service" data-height="height">
                            <div class="">
                                <h3>Industrial Data Center</h3>
                                <p class="margin-b-5 service-info" style="padding-top: 1.6cm">An IDC is a pre-configured
                                    solu on consis ng of servers, storage, switches, cable management, and a cabinet
                                    that
                                    runs your plant's produc on software in a virtualized environmen</p>
                                <img class="service-info" src="{% static "img/IDA.jpg" %}"
                                     style="align-content: initial;padding-top: 1cm; margin-top: -0.5cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:IndDatCen" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end row -->

            <div class="row row-space-1">
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                        <div class="service" data-height="height">

                            <div class="">
                                <h3>Protective Relays and Electrical Protection</h3>
                                <p class="margin-b-5 service-info">In electrical engineering, a protective relay is a
                                    relay
                                    device designed to trip a circuit breaker when a fault is detected</p>
                                <img class="service-info" src="{% static "img/ProtectedRelays.jpg" %}"
                                     style="align-content: initial;padding-top: 1cm; margin-top: 1.7cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:ProtectRel" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                        <div class="service" data-height="height">
                            <div class="">
                                <h3>Participation In The Project Overseas</h3>
                                <p class="margin-b-5 service-info">the management of projects internationally or across
                                    borders and cultures</p>
                                <img class="service-info" src="{% static "img/Overseas.png" %}"
                                     style="align-content: initial;padding-top: 1cm; margin-top: 1.7cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:PartOverseas" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                        <div class="service" data-height="height">
                            <div class="">
                                <h3>Leading to Profitability and Operational Efficiency</h3>
                                <p class="margin-b-5 service-info">
                                    BGS is cooperating with EPC Companies to procurement projects needs
                                    in Electrical and Data Section to provide solutions completely Based
                                    on project objectives and also EPC Companies Benefits. </p>
                                <img class="service-info" src="{% static "img/SupplyandEquip.jpg" %}"
                                     style="align-content: initial;padding-top: 1cm" width="300"
                                     height="200">
                            </div>
                            <a href="{% url "activities:Supply" %}" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Service -->
    {% include "includes/footer.html" %}
    </body>
    <!-- END BODY -->
    </html>

{% endblock %}