{% extends "includes/header.html" %}
{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    <body>
    <div id="carousel-example-generic" class="carousel header" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="height: 8cm">
            <div class="item active" style="margin-top: -0.9cm">
                <img class="img-responsive" src="{% static "img/1920x1080/01.jpg" %}" width="100" height="50"
                     alt="Header-image-activities" style="width: 50%">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-10" style="margin-top: -3cm">
                            <h1 class="carousel-title" style="font-size: xx-large">Industrial Data Center</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== PAGE LAYOUT ==========-->
    <!-- Testimonials -->
    <div class="content-lg container" style="text-align: center">
        <div class="row">

            <img src="{% static "img/IndustrialDataCenter.png" %}" height="300" width="800"
                 style="align-content: center">
            <div class="col-sm-9">
                <h2 style="margin-top: 1cm">Title</h2>
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20"><strong>
                                Content
                            </strong>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include "includes/footer.html" %}
    </body>
    </html>
{% endblock %}